/* === Extra-Network-Pane === */
.extra-network-pane .card,
.extra-network-pane .card .button-row {
  transition: all 0.2s ease;
  text-align: center;
}
.extra-network-pane .card:hover {
  box-shadow: 0 0 5px 0.2em var(--ctp-accent);
  transform: scale(1.025);
}
.extra-network-pane .card .button-row {
  border-bottom-left-radius: 8px;
  padding: 0 5px;
}
.extra-network-pane .card .actions,
.extra-network-pane .card .button-row:hover {
  background: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(6px);
  font-size: 10px;
}
.goto-civitbrowser.card-button:hover svg path,
.extra-network-pane .card .button-row > .card-button:hover {
  fill: var(--ctp-accent);
  color: var(--ctp-accent);
}