/* === Image Viewer === */
#lightboxModal {
  background-color: rgba(0, 0, 0, 0.75);
  backdrop-filter: blur(8px);
}
.modalControls:hover {
  backdrop-filter: blur(12px) grayscale(0.7);
  background-color: rgba(0, 0, 0, 0.8) !important;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.8);
}
/* Arrow */
#lightboxModal .modalControls span,
#lightboxModal .modalPrev,
#lightboxModal .modalNext {
  background-color: var(--ctp-base0);
}
#lightboxModal .modalControls span:hover,
#lightboxModal .modalPrev:hover,
#lightboxModal .modalNext:hover {
  background-color: var(--ctp-accent);
}
